
include/.DS_Store
.DS_Store
/.vscode/
/_build/
/docs/
/doxy/
/testing/runs/*
.Rproj.user
.Rhistory
gmacsbase_20240304.TPL
gmacsbaseOLD.TPL
testing/input_files/gmacs1.par
testing/input_files/gmacs2.par
