
include/.DS_Store
.DS_Store
/.vscode/
/_build/
/docs/
/doxy/
.Rproj.user
.Rhistory
gmacsbase_20240304.TPL
gmacsbaseOLD.TPL
README.html
/testing/runs/*
testing/input_files/gmacs1.par
testing/input_files/gmacs2.par
testing/input_files/NewCTLformat_20240401/gmacs_out.ctl
testing/input_files/NewCTLformat_20240401/gmacs_in1.ctl
testing/input_files/NewCTLformat_20240401/gmacs_in.ctl
testing/input_files/AndreLatest/
testing/input_files/BBRKC_20240731/bbrkc_v16.zip
testing/input_files/BBRKC_20240731/bbrkcgmacs2_20_16issue.zip
testing/input_files/BBRKC_20240731/bbrkc_v14.zip
testing/wtsGMACS/model_runs/SMBKC_2024Asmt/
testing/wtsGMACS/model_runs/TannerCrab24_02/
testing/wtsGMACS/model_runs/TannerCrab24_02a/
testing/wtsGMACS/model_comparisons/figures
testing/wtsGMACS/model_comparisons/tables
testing/wtsGMACS/model_comparisons/*.csv
testing/wtsGMACS/model_comparisons/*.md
testing/wtsGMACS/model_comparisons/*.pdf
testing/wtsGMACS/model_comparisons/*.RData

SizeCompsIssue.docx
/model_archive/
