
include/.DS_Store
.DS_Store
/.vscode/
/_build/
/docs/
/doxy/
/testing/runs/*
.Rproj.user
.Rhistory
gmacsbase_20240304.TPL
gmacsbaseOLD.TPL
testing/input_files/gmacs1.par
testing/input_files/gmacs2.par
testing/input_files/NewCTLformat_20240401/gmacs_out.ctl
testing/input_files/NewCTLformat_20240401/gmacs_in1.ctl
testing/input_files/NewCTLformat_20240401/gmacs_in.ctl
testing/input_files/AndreLatest/
testing/input_files/BBRKC_20240731/bbrkc_v16.zip
testing/input_files/BBRKC_20240731/bbrkcgmacs2_20_16issue.zip
testing/input_files/BBRKC_20240731/bbrkc_v14.zip
README.html
